{% extends 'base.html.twig' %}

{% block title %}Create New Author{% endblock %}

{% block body %}
    <h1>Create New Author</h1>
    <form method="post" action="{{ path('author_create') }}">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="birthday">Birthday:</label>
        <input type="datetime-local" id="birthday" name="birthday" required><br><br>

        <label for="biography">Biography:</label>
        <input type="text" id="biography" name="biography" required><br><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br><br>

        <label for="place_of_birth">Place of Birth:</label>
        <input type="text" id="place_of_birth" name="place_of_birth" required><br><br>

        <button type="submit">Create Author</button>
    </form>
{% endblock %}