<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body><br>
    {% if app.session.has('access_token')%}
        {% if app.request.attributes.get('_route') != 'authors_list' %}
            <a href="{{ path('authors_list') }}">List of Authors</a><br>
        {% endif %}
        {% if app.session.has('username')%}
            User: {{ app.session.get('username') }}<br>
            <a href="{{ path('logout') }}">Logout</a>
        {% endif %}
    {% endif %}
    <br>
</html>
